.main{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    animation-name: circle;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes circle{
    0%{
       transform: translate(0px,0px);
    }
    25%{
        transform: translate(1320px,0px);
    }
    50%{
        transform: translate(1320px,490px);
    }
    75%{
        transform: translate(0px,490px);
    }
    100%{
        transform: translate(0px,0px);
    }
}